<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Sensible Defaults</string>
	<key>CFBundleExecutable</key>
	<string>SensibleDefaults</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.rupert-br.sensible-defaults</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sensible Defaults</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>MIT License</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Developer File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.rez-source</string>
				<string>com.microsoft.ini</string>
				<string>com.microsoft.typescript</string>
				<string>com.netscape.javascript-source</string>
				<string>com.sun.java-source</string>
				<string>net.daringfireball.markdown</string>
				<string>org.iso.sql</string>
				<string>public.assembly-source</string>
				<string>public.avchd-mpeg-2-transport-stream</string>
				<string>public.bash-script</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-header</string>
				<string>public.c-plus-plus-source</string>
				<string>public.c-source</string>
				<string>public.csh-script</string>
				<string>public.css</string>
				<string>public.json</string>
				<string>public.ksh-script</string>
				<string>public.make-source</string>
				<string>public.mpeg-2-transport-stream</string>
				<string>public.ndjson</string>
				<string>public.objective-c-plus-plus-source</string>
				<string>public.objective-c-source</string>
				<string>public.patch-file</string>
				<string>public.perl-script</string>
				<string>public.php-script</string>
				<string>public.protobuf-source</string>
				<string>public.python-script</string>
				<string>public.ruby-script</string>
				<string>public.shell-script</string>
				<string>public.swift-source</string>
				<string>public.tcsh-script</string>
				<string>public.toml</string>
				<string>public.xml</string>
				<string>public.yaml</string>
				<string>public.zsh-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Developer File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>py</string>
				<string>pyi</string>
				<string>pyw</string>
				<string>ipynb</string>
				<string>js</string>
				<string>mjs</string>
				<string>cjs</string>
				<string>jsx</string>
				<string>ts</string>
				<string>mts</string>
				<string>cts</string>
				<string>tsx</string>
				<string>c</string>
				<string>h</string>
				<string>cc</string>
				<string>cpp</string>
				<string>cxx</string>
				<string>c++</string>
				<string>hh</string>
				<string>hpp</string>
				<string>hxx</string>
				<string>h++</string>
				<string>m</string>
				<string>mm</string>
				<string>swift</string>
				<string>rs</string>
				<string>go</string>
				<string>zig</string>
				<string>nim</string>
				<string>cr</string>
				<string>d</string>
				<string>rb</string>
				<string>erb</string>
				<string>gemspec</string>
				<string>rake</string>
				<string>php</string>
				<string>pl</string>
				<string>pm</string>
				<string>lua</string>
				<string>java</string>
				<string>kt</string>
				<string>kts</string>
				<string>scala</string>
				<string>sc</string>
				<string>groovy</string>
				<string>gradle</string>
				<string>cs</string>
				<string>csx</string>
				<string>fsx</string>
				<string>fsi</string>
				<string>vb</string>
				<string>dart</string>
				<string>ex</string>
				<string>exs</string>
				<string>erl</string>
				<string>hrl</string>
				<string>hs</string>
				<string>lhs</string>
				<string>clj</string>
				<string>cljs</string>
				<string>cljc</string>
				<string>ml</string>
				<string>mli</string>
				<string>r</string>
				<string>jl</string>
				<string>lisp</string>
				<string>el</string>
				<string>scm</string>
				<string>rkt</string>
				<string>tcl</string>
				<string>awk</string>
				<string>sed</string>
				<string>sql</string>
				<string>asm</string>
				<string>s</string>
				<string>v</string>
				<string>sv</string>
				<string>vhd</string>
				<string>vhdl</string>
				<string>sh</string>
				<string>bash</string>
				<string>zsh</string>
				<string>fish</string>
				<string>ksh</string>
				<string>csh</string>
				<string>tcsh</string>
				<string>ps1</string>
				<string>psm1</string>
				<string>psd1</string>
				<string>bat</string>
				<string>cmd</string>
				<string>css</string>
				<string>scss</string>
				<string>sass</string>
				<string>less</string>
				<string>styl</string>
				<string>vue</string>
				<string>svelte</string>
				<string>astro</string>
				<string>hbs</string>
				<string>handlebars</string>
				<string>mustache</string>
				<string>ejs</string>
				<string>pug</string>
				<string>jade</string>
				<string>twig</string>
				<string>liquid</string>
				<string>njk</string>
				<string>graphql</string>
				<string>gql</string>
				<string>json</string>
				<string>jsonc</string>
				<string>json5</string>
				<string>jsonl</string>
				<string>ndjson</string>
				<string>yaml</string>
				<string>yml</string>
				<string>toml</string>
				<string>xml</string>
				<string>xsd</string>
				<string>xsl</string>
				<string>xslt</string>
				<string>ini</string>
				<string>cfg</string>
				<string>conf</string>
				<string>config</string>
				<string>properties</string>
				<string>env</string>
				<string>lock</string>
				<string>tf</string>
				<string>tfvars</string>
				<string>hcl</string>
				<string>nix</string>
				<string>proto</string>
				<string>thrift</string>
				<string>md</string>
				<string>markdown</string>
				<string>mdx</string>
				<string>rst</string>
				<string>adoc</string>
				<string>asciidoc</string>
				<string>tex</string>
				<string>bib</string>
				<string>org</string>
				<string>mk</string>
				<string>cmake</string>
				<string>dockerfile</string>
				<string>containerfile</string>
				<string>diff</string>
				<string>patch</string>
				<string>gitignore</string>
				<string>gitattributes</string>
				<string>gitmodules</string>
				<string>editorconfig</string>
				<string>npmrc</string>
				<string>nvmrc</string>
				<string>vim</string>
				<string>vimrc</string>
				<string>zshrc</string>
				<string>bashrc</string>
				<string>bash_profile</string>
				<string>zprofile</string>
				<string>zshenv</string>
				<string>profile</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
